.auth-form-panel{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.another-auth-link{
    font-size: 0.95rem;
}

.spinner-loading-mini{
    position: absolute;
    width: auto;
    top: 22px;
    right: 40px;
    margin-top: 0;
}

.flex-form-centered-container{
    display: flex;
    height: calc(100vh - 70px);
    justify-content: center;
    align-items: center;
}