<div class="container ">
   <div class="row d-flex align-items-center gx-5 error-page-body">
 
    <div class="col-md-6 col-12 ps-5">
        <div class="error-page-header">
            <h1 class="error-page-code"><strong>400</strong></h1>
            <h3 class="error-page-title">Bad request</h3>
        </div>
        <div>
            <h4 class="mt-5" *ngIf="error?.detail">{{error?.detail}}</h4>
            <h4 class="mt-5" *ngIf="!error?.detail">Request you sent was incorrect. Please check address and parameters</h4>
            <div class="text-center">
                <button class="btn btn-lg btn-outline-primary my-3" routerLink="/">
                    Go Home <i class="fa fa-home"></i>
                </button>
            </div>
            </div>
        </div>
    
        <div class="col-md-6 col-12">
            <div class="col-md-12">
            <img src="/assets/images/error-pages/bad_request.png" width="100%">
            </div>
        </div>
    
    </div>
 </div>
 
 