<img src="/assets/images/background/formbg.jpg" class="z-n1 position-fixed object-fit-cover h-100 w-100">

<div class="container flex-form-centered-container">
    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-9 col-9 my-3 account-settings-block
        bg-white border border-primary border-3 rounded rounded-3 auth-form-panel">

        <form [formGroup]="passwordChangeForm" (ngSubmit)="changePasswordSubmit()" class="m-5">
            <div class="text-center mb-4">
                <h1 class="mb-3">Change Password</h1>
            </div>             
                
            <div class="form-floating mb-3">
                <input formControlName="newPassword" type="password" placeholder="New Password" id="newPassword" class="form-control"
                  [ngClass]="(passwordChangeForm.get('newPassword')?.valid) 
                    ? 'is-valid'
                    : (passwordChangeForm.get('newPassword')?.touched ? 'is-invalid' : null)">
                <label class="bg-transparent" for="newPassword">New Password</label>
                <div *ngIf="passwordChangeForm.get('newPassword')?.errors?.['required']" class="invalid-feedback">
                    Password should not be empty
                </div>
                <div *ngIf="passwordChangeForm.get('newPassword')?.errors?.['minlength']" class="invalid-feedback">
                    Minimum length: 6 characters
                </div>
            </div>

            <div class="form-floating mb-3">
                <input formControlName="repeatPassword" type="password" placeholder="Repeat Password" id="repeatPassword" class="form-control"
                  [ngClass]="(passwordChangeForm.get('repeatPassword')?.valid) 
                    ? 'is-valid'
                    : (passwordChangeForm.get('repeatPassword')?.touched ? 'is-invalid' : null)">
                <label class="bg-transparent" for="repeatPassword">Repeat Password</label>
                <div *ngIf="passwordChangeForm.get('repeatPassword')?.errors?.['required']" class="invalid-feedback">
                    Password should not be empty
                </div>
                <div *ngIf="passwordChangeForm.get('repeatPassword')?.errors?.['minlength']" class="invalid-feedback">
                    Minimum length: 6 characters
                </div>
                <div *ngIf="passwordChangeForm.get('repeatPassword')?.errors?.['passwordsMatch']" class="invalid-feedback">
                    Passwords no not match
                </div>
            </div>
    
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg mt-4">
                    Change Password
                </button>
            </div>
            
        </form>

    </div>
</div>